* {
    border: 1px solid red;
  }
  
  p {
    color: green;
  }
  
  h1 {
    color: maroon;
  }

  .title {
    color: teal;
  }

  .uppercase {
    text-transform: uppercase;
  }

  #article-title {
    font-family: cursive;
  }

  a[href*="florence"] {
    color: aliceblue;
  }

  a[href*="beijing"] {
    color: blueviolet;
  }

  a[href*="seoul"] {
    color: lightcoral;
  }

  a:hover {
    color: darkorange;
  }

  .heading-background {
    background-color: aqua;
  }

  #publish-time {
    color: blue;
  }